{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'Style/main.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/nnattawat/flip@master/dist/jquery.flip.js"></script>
    <script src="jquery-2.1.4.min.js"></script>
    <script src="jquery.flip.js"></script>

    <script type="text/javascript">
        $(function(){
            $(".card").flip({
                axis: "y", // y or x
                reverse: false, // true and false
                trigger: "click", // click or hover
                speed: '1500',
                front: $('.other-front'),
                back: $('.other-back'),
                autoSize: false
      });

    });

    </script>
</head>
<body>
    <div  class="card">
        <div class="other-front">
              <h1>Welcome to MyChat</h1>
              <p>A group video application just for you</p>
              <form id="form">
                <div class="form-field">
                    <input type="text" name="room" placeholder="Enter a roomname" style="text-transform: uppercase;">
                </div>
                <div class="form-field">
                    <input type="text" name="username" placeholder="Enter a Username" style="text-transform: uppercase;">
                </div>
                <div class="form-field">
                    <input type="submit" value="Join Stream">
                </div>
            </form>
        </div>
        <div class="other-back">
              <h1>Welcome to MyChat</h1>
              <p>A group video application just for you</p>
              <form id="form">
                <div class="form-field">
                    <input type="text" name="room" placeholder="Enter a roomname" style="text-transform: uppercase;">
                </div>
                <div class="form-field">
                    <input type="text" name="username" placeholder="Enter a Username" style="text-transform: uppercase;">
                </div>
                <div class="form-field">
                    <input type="submit" value="Join Stream">
                </div>
            </form>
        </div>
    </div>
</body>
</html>