{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'Style/main.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/nnattawat/flip@master/dist/jquery.flip.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".flipper").flip({
                axis: "y", // y or x
                reverse: false, // true and false
                trigger: "click", // click or hover
                speed: '1500',
                front: $('.other-front'),
                back: $('.other-back'),
                autoSize: false
      });

    });

    </script>
</head>
<body>
    <div  class="card">
        <div class="other-front">
              <h1 class="header">Welcome Back!</h1>
              <p>we're excited to see you again!</p>
              <form id="form">
                <div class="form-field">
                    <p>Email or Phone number</p>
                    <input type="text" name="room" placeholder="" style="text-transform: uppercase;">
                </div>
                <div class="form-field">
                    <p>Password</p>
                    <input type="text" name="username" placeholder="" style="text-transform: uppercase;">
                    <p>Forgot your password ?</p>
                </div>
                <div class="form-field">
                    <input type="submit" value="Login">
                </div>
                <p class="flipper">Need an account? <strong>Register</strong></p>
                <p class="header">Sign in with</p>
                <footer>

                </footer>
            </form>
        </div>
        <div class="other-back">
              <h1 class="header">Create an account</h1>
              <form id="form">
                <div class="form-field">
                    <p>Email</p>
                    <input type="text" name="room" placeholder="" style="text-transform: uppercase;">
                </div>
                <div class="form-field">
                    <p>Username</p>
                    <input type="text" name="room" placeholder="" style="text-transform: uppercase;">
                </div>
                <div class="form-field">
                    <p>Password</p>
                    <input type="text" name="username" placeholder="" style="text-transform: uppercase;">
                    <p>Forgot your password ?</p>
                </div>
                <div class="form-field">
                    <input type="submit" value="Register">
                </div>
                <p class="flipper">Already have an account?</p>
                <p>By registering, you agree to MyChat's Terms of Service and Privacy Policy</p>

            </form>
        </div>
    </div>
</body>
</html>